:root {
    --spotify-black: #121212;
    --spotify-dark-gray: #181818;
    --spotify-gray: #282828;
    --spotify-light-gray: #b3b3b3;
    --spotify-white: #ffffff;
    --spotify-green: #1db954;
    --spotify-green-hover: #1ed760;
    --spotify-red: #ff0000;
}